.authButton {
  width: 100%;
  max-width: 240px;
  height: 48px;
  background: linear-gradient(110.46deg, #70C3FF 12.27%, #4B65FF 93.92%);
  border-radius: 30px;
  border: none;

  font-weight: 700;
  color: #FFFFFF;
}